body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.light{
    background-color: rgb(247, 244, 244);
    color: black;
}
.dark {
    background-color: black;
    color: rgb(247, 244, 244);
}

#main {
    border: 2px;
    border-style:solid;
    border-color: rgb(199, 198, 198);
    /* background-color: rgb(247, 244, 244); */
}

#LDmode {
    border-style: none;
    cursor: pointer;
    /* background-color: rgb(247, 244, 244); */
}

#LDmode::before {
    font-family: Impact;
    content: '\2600';
    color: rgb(252, 216, 15);
    margin-right: 5px;
}

