:root {
--lGrey: rgb(247, 244, 244);
--dGrey: rgb(199, 198, 198);
--lBlack: rgb(49, 49, 49);
--dMode: rgb(27, 27, 27);
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.light{
    background-color: var(--lGrey);
    color: var(--dMode);
}
.dark {
    background-color: var(--dMode);
    color: var(--lGrey);
}

#main {
    border: 2px;
    border-style:solid;
    border-color: rgb(199, 198, 198);
    /* background-color: rgb(247, 244, 244); */
}

#LDmode {
    border-style: none;
    cursor: pointer;
    /* background-color: rgb(247, 244, 244); */
}

#LDmode::before {
    font-family: Impact;
    content: '\2600';
    color: rgb(252, 216, 15);
    margin-right: 5px;
}

